x-odata-version: '4.0'
swagger: '2.0'
info: {title: Developer Hub - Application (CF), description: Developer Hub - Application API enables you to view and create Applications in Developer Hub., version: '1.0', x-targetEndpoint: 'https://us10trialdevportal.cfapps.us10.hana.ondemand.com/odata/1.0/data.svc'}
securityDefinitions:
  OAuth2_ClientCredentials:
    type: oauth2
    flow: application
    tokenUrl: https://{tokenUrl}/oauth/token?grant_type=client_credentials
    scopes: {}
security:
- OAuth2_ClientCredentials: []
externalDocs: {description: Complete documentation on API Management, url: 'https://help.sap.com/viewer/66d066d903c2473f81ec33acfe2ccdb4/Cloud/en-US'}
x-sap-api-type: ODATA
host: sandbox.api.sap.com
schemes: [https]
x-sap-shortText: Enables you to view all Applications.
basePath: /sapapimanagement/odata/1.0/data.svc
x-servers:
- url: https://eu20devportal.cfapps.eu20.hana.ondemand.com/odata/1.0/data.svc
  description: Developer Hub US1 API endpoint
  templates:
    tokenUrl: {description: Developer Hub US1 tokenUrl}
- url: https://us20devportal.cfapps.us20.hana.ondemand.com/odata/1.0/data.svc
  description: Developer Hub US20 API endpoint
  templates:
    tokenUrl: {description: Developer Hub US20 tokenUrl}
- url: https://jp20devportal.cfapps.jp20.hana.ondemand.com/odata/1.0/data.svc
  description: Developer Hub jp20 API endpoint
  templates:
    tokenUrl: {description: Developer Hub jp20 tokenUrl}
- url: https://ap21devportal.cfapps.ap21.hana.ondemand.com/odata/1.0/data.svc
  description: Developer Hub ap21 API endpoint
  templates:
    tokenUrl: {description: Developer Hub ap21 tokenUrl}
- url: https://us21apiportal.cfapps.us21.hana.ondemand.com/odata/1.0/data.svc
  description: Developer Hub us21 API endpoint
  templates:
    tokenUrl: {description: Developer Hub us21 tokenUrl}
- url: https://ap10devportal.cfapps.ap10.hana.ondemand.com/odata/1.0/data.svc
  description: Developer Hub ap10 API endpoint
  templates:
    tokenUrl: {description: Developer Hub ap10 tokenUrl}
- url: https://br10devportal.cfapps.br10.hana.ondemand.com/odata/1.0/data.svc
  description: Developer Hub br10 API endpoint
  templates:
    tokenUrl: {description: Developer Hub br10 tokenUrl}
- url: https://jp10devportal.cfapps.jp10.hana.ondemand.com/odata/1.0/data.svc
  description: Developer Hub jp10 API endpoint
  templates:
    tokenUrl: {description: SAP API Management Developer Portal jp10 tokenUrl}
- url: https://eu10devportal.cfapps.eu10.hana.ondemand.com/odata/1.0/data.svc
  description: Developer Hub eu10 API endpoint
  templates:
    tokenUrl: {description: Developer Hub eu10 tokenUrl}
- url: https://us10devportal.cfapps.us10.hana.ondemand.com/odata/1.0/data.svc
  description: Developer Hub us10 API endpoint
  templates:
    tokenUrl: {description: Developer Hub us10 tokenUrl}
- url: https://ca10devportal.cfapps.ca10.hana.ondemand.com/odata/1.0/data.svc
  description: Developer Hub ca10 API endpoint
  templates:
    tokenUrl: {description: Developer Hub ca10 tokenUrl}
- url: https://ap11devportal.cfapps.ap11.hana.ondemand.com/odata/1.0/data.svc
  description: Developer Hub ap11 API endpoint
  templates:
    tokenUrl: {description: Developer Hub ap11 tokenUrl}
consumes: [application/json]
produces: [application/json]
definitions:
  applicationPost:
    type: object
    properties:
      id: {type: string, maxLength: 255, default: '00000000000000000000000000000000'}
      version: {type: string, maxLength: 10, default: '1'}
      title: {type: string, maxLength: 255}
      description:
        type: [string, 'null']
        maxLength: 2048
      shortText:
        type: [string, 'null']
        maxLength: 255
      ToSubscriptions:
        type: array
        items:
          type: object
          properties:
            id: {type: string, maxLength: 256, default: '00000000000000000000000000000000'}
            ToAPIProduct:
              type: array
              items:
                type: object
                properties:
                  items:
                    type: object
                    properties:
                      uri: {type: string, maxLength: 255, default: APIMgmt.APIProducts('productname')}
            ToRatePlan:
              type: array
              items:
                type: object
                properties:
                  __metadata:
                    type: object
                    properties:
                      uri: {type: string, maxLength: 255, default: APIMgmt.RatePlans('RatePlan_ID')}
      ToAttributes:
        type: array
        items: {$ref: '#/definitions/developer.AttributeType'}
  customAttributePut:
    type: object
    properties:
      value: {type: string, maxLength: 1024}
  odata.error:
    type: object
    properties:
      error: {$ref: '#/definitions/odata.error.main'}
  odata.error.main:
    type: object
    properties:
      code: {type: string}
      message: {$ref: '#/definitions/odata.error.message'}
      innererror: {description: The contents of this object are service-defined}
  odata.error.message:
    type: object
    properties:
      lang: {type: string}
      value: {type: string}
  developer.RatePlansType:
    type: object
    properties:
      reg_id:
        type: [string, 'null']
        maxLength: 256
        example: string
      id: {type: string, maxLength: 255}
      name: {type: string, maxLength: 255}
      isSeasonal:
        type: [boolean, 'null']
      frequency: {type: string, maxLength: 255}
      description:
        type: [string, 'null']
        maxLength: 2048
        example: string
      rate:
        type: [string, 'null']
        example: string
      currency: {type: string, maxLength: 50}
      isActive: {type: boolean}
      type:
        type: [string, 'null']
        maxLength: 50
        example: string
      validFrom:
        type: [string, 'null']
        example: /Date(1492098664000)/
      validTo:
        type: [string, 'null']
        example: /Date(1492098664000)/
      ToSubscriptions:
        type: object
        properties:
          results:
            type: array
            items: {$ref: '#/definitions/developer.SubscriptionsType'}
    title: RatePlansType
  developer.SubscriptionsType:
    type: object
    properties:
      id: {type: string, maxLength: 256}
      reg_id:
        type: [string, 'null']
        maxLength: 256
        example: string
      app_id:
        type: [string, 'null']
        maxLength: 256
        example: string
      product_id:
        type: [string, 'null']
        maxLength: 256
        example: string
      developer_id:
        type: [string, 'null']
        maxLength: 256
        example: string
      ratePlan_id:
        type: [string, 'null']
        maxLength: 256
        example: string
      validFrom:
        type: [string, 'null']
        example: /Date(1492098664000)/
      validTo:
        type: [string, 'null']
        example: /Date(1492098664000)/
      app_name:
        type: [string, 'null']
        maxLength: 255
        example: string
      isSubscribed:
        type: [boolean, 'null']
      status:
        type: [string, 'null']
        maxLength: 255
        example: string
      comment:
        type: [string, 'null']
        maxLength: 2048
        example: string
      created_by:
        type: [string, 'null']
        maxLength: 255
        example: string
      created_at:
        type: [string, 'null']
        example: /Date(1492098664000)/
      modified_by:
        type: [string, 'null']
        maxLength: 255
        example: string
      modified_at:
        type: [string, 'null']
        example: /Date(1492098664000)/
      ToApplication: {$ref: '#/definitions/developer.ApplicationsType'}
      ToRatePlan: {$ref: '#/definitions/developer.RatePlansType'}
      ToAPIProduct: {$ref: '#/definitions/developer.APIProductsType'}
    title: SubscriptionsType
  developer.ApplicationsType:
    type: object
    properties:
      reg_id:
        type: [string, 'null']
        maxLength: 256
        example: string
      id: {type: string, maxLength: 255}
      version: {type: string, maxLength: 10}
      developer_id:
        type: [string, 'null']
        maxLength: 255
        example: string
      title: {type: string, maxLength: 255}
      description:
        type: [string, 'null']
        maxLength: 2048
        example: string
      shortText:
        type: [string, 'null']
        maxLength: 255
      app_key:
        type: [string, 'null']
        maxLength: 256
        example: string
      app_secret:
        type: [string, 'null']
        maxLength: 1000
        example: string
      callbackurl:
        type: [string, 'null']
        example: string
      valid_from:
        type: [string, 'null']
        example: /Date(1492098664000)/
      valid_to:
        type: [string, 'null']
        example: /Date(1492098664000)/
      status_code:
        type: [string, 'null']
        maxLength: 20
        example: string
      created_by:
        type: [string, 'null']
        maxLength: 255
        example: string
      created_at:
        type: [string, 'null']
        example: /Date(1492098664000)/
      modified_by:
        type: [string, 'null']
        maxLength: 255
        example: string
      modified_at:
        type: [string, 'null']
        example: /Date(1492098664000)/
      ToAPIProductsDetails:
        type: object
        properties:
          results:
            type: array
            items: {$ref: '#/definitions/developer.APIProductsType'}
      ToSubscriptions:
        type: object
        properties:
          results:
            type: array
            items: {$ref: '#/definitions/developer.SubscriptionsType'}
      ToAttributes:
        type: object
        properties:
          results:
            type: array
            items: {$ref: '#/definitions/developer.AttributeType'}
    title: ApplicationsType
  developer.APIProductsType:
    type: object
    x-keys: [name]
    properties:
      name: {type: string, maxLength: 255}
      title: {type: string, maxLength: 255}
      reg_id:
        type: [string, 'null']
        x-nullable: true
        maxLength: 256
      version: {type: string, maxLength: 10}
      vendor:
        type: [string, 'null']
        x-nullable: true
        maxLength: 255
      description:
        type: [string, 'null']
        x-nullable: true
        maxLength: 2048
      shortText:
        type: [string, 'null']
        x-nullable: true
        maxLength: 255
      published_at:
        type: [string, 'null']
        x-nullable: true
        format: date-time
      published_by:
        type: [string, 'null']
        x-nullable: true
        maxLength: 256
      avgRating:
        type: [number, string, 'null']
        x-nullable: true
        format: float
      ratingCount:
        type: [integer, string, 'null']
        x-nullable: true
        format: int64
      ToApplicationDetails:
        type: array
        items: {$ref: '#/definitions/developer.ApplicationsType'}
        x-relationship: {partner: ToAPIProductsDetails}
      ToAPIProxies:
        type: array
        items: {$ref: '#/definitions/developer.APIProxiesType'}
        x-relationship:
          partner: ToAPIProducts
          onDelete: {action: Cascade}
      ToAPIResources:
        type: array
        items: {$ref: '#/definitions/developer.APIResourcesType'}
        x-relationship: {}
  developer.APIProxiesType:
    type: object
    x-keys: [name]
    properties:
      reg_id:
        type: [string, 'null']
        x-nullable: true
        maxLength: 256
      version: {type: string, maxLength: 10}
      name: {type: string, maxLength: 255}
      title: {type: string, maxLength: 255}
      description:
        type: [string, 'null']
        x-nullable: true
        maxLength: 2048
      published_at:
        type: [string, 'null']
        x-nullable: true
        format: date-time
      published_by:
        type: [string, 'null']
        x-nullable: true
        maxLength: 256
      service_code:
        type: [string, 'null']
        x-nullable: true
        maxLength: 20
      ToAPIProducts:
        type: array
        items: {$ref: '#/definitions/developer.APIProductsType'}
        x-relationship: {partner: ToAPIProxies}
      ToProxyEndPoints:
        type: array
        items: {$ref: '#/definitions/developer.ProxyEndPointsType'}
        x-relationship: {}
  developer.ProxyEndPointsType:
    type: object
    x-keys: [id]
    properties:
      id: {type: string, maxLength: 36}
      reg_id:
        type: [string, 'null']
        x-nullable: true
        maxLength: 256
      name: {type: string, maxLength: 255}
      base_path: {type: string}
      apiproxy_name:
        type: [string, 'null']
        x-nullable: true
        maxLength: 255
      ToAPIResources:
        type: array
        items: {$ref: '#/definitions/developer.APIResourcesType'}
        x-relationship: {}
  developer.APIResourcesType:
    type: object
    x-keys: [id]
    properties:
      id: {type: string, maxLength: 36}
      reg_id:
        type: [string, 'null']
        x-nullable: true
        maxLength: 256
      title:
        type: [string, 'null']
        x-nullable: true
        maxLength: 255
      description:
        type: [string, 'null']
        x-nullable: true
        maxLength: 2048
      isGetChecked:
        type: [boolean, 'null']
        x-nullable: true
      isPostChecked:
        type: [boolean, 'null']
        x-nullable: true
      isPutChecked:
        type: [boolean, 'null']
        x-nullable: true
      isDeleteChecked:
        type: [boolean, 'null']
        x-nullable: true
      proxyendpoint_id:
        type: [string, 'null']
        x-nullable: true
        maxLength: 36
      resource_path:
        type: [string, 'null']
        x-nullable: true
      ToAPIResourceDocumentation:
        type: array
        items: {$ref: '#/definitions/developer.APIResourceDocumentationsType'}
        x-relationship: {}
  developer.APIResourceDocumentationsType:
    type: object
    x-keys: [id]
    properties:
      id: {type: string, maxLength: 36}
      reg_id:
        type: [string, 'null']
        x-nullable: true
        maxLength: 256
      mime_type:
        type: [string, 'null']
        x-nullable: true
        maxLength: 256
      content:
        type: [string, 'null']
        x-nullable: true
      apiresource_id:
        type: [string, 'null']
        x-nullable: true
        maxLength: 36
  developer.AttributeType:
    type: object
    required: [name, value]
    properties:
      name: {type: string, maxLength: 235}
      value: {type: string, maxLength: 1024}
      entityId: {type: string, maxLength: 255}
x-schemas:
  Org.OData.Core.V1: {uri: 'http://localhost/examples/Org.OData.Core.V1.openapi.json'}
  Core: {aliasFor: Org.OData.Core.V1}
  com.sap.it.spc.ci.catalog: {}
  developer: {}
x-entityContainer:
  name: APIMgmt
  resources:
    Applications:
      kind: EntitySet
      entityType: developer.ApplicationsType
      navigationPropertyBindings: {ToAPIProductsDetails: APIProducts}
    APIProducts:
      kind: EntitySet
      entityType: developer.APIProductsType
      navigationPropertyBindings: {ToAPIProxies: APIProxies, ToAPIResources: APIResources, ToApplicationDetails: Applications}
    APIProxies:
      kind: EntitySet
      entityType: developer.APIProxiesType
      navigationPropertyBindings: {ToAPIProducts: APIProducts, ToProxyEndPoints: ProxyEndPoints}
    ProxyEndPoints:
      kind: EntitySet
      entityType: developer.ProxyEndPointsType
      navigationPropertyBindings: {ToAPIResources: APIResources}
    APIResources:
      kind: EntitySet
      entityType: developer.APIResourcesType
      navigationPropertyBindings: {ToAPIResourceDocumentation: APIResourceDocumentations}
    APIResourceDocumentations: {kind: EntitySet, entityType: developer.APIResourceDocumentationsType}
paths:
  /APIMgmt.Applications('{id}'):
    get:
      tags: [Application]
      summary: Get a specific Application
      description: This operation retrieves specific application details using the application id.
      produces: [application/json]
      parameters:
      - {name: id, description: Application id, in: path, required: true, type: string, format: ''}
      responses:
        '200':
          description: Retrieved Application entity
          schema:
            title: AttributeType
            type: object
            properties:
              d: {$ref: '#/definitions/developer.ApplicationsType'}
        default: {$ref: '#/responses/error'}
  /APIMgmt.Applications:
    post:
      tags: [Application]
      summary: Create an application entity
      description: This operation creates a new application.
      produces: [application/json]
      parameters:
      - name: Application
        in: body
        description: New entity
        schema: {$ref: '#/definitions/applicationPost'}
      responses:
        '201':
          description: Created entity
          schema:
            title: Created Aplication
            type: object
            properties:
              d: {$ref: '#/definitions/developer.ApplicationsType'}
        '400':
          description: Bad Request
          schema: {$ref: '#/definitions/odata.error'}
        '415':
          description: Unsupported Media Type
          schema: {$ref: '#/definitions/odata.error'}
        '500':
          description: Internal Server Error
          schema: {$ref: '#/definitions/odata.error'}
        default: {$ref: '#/responses/error'}
  /APIMgmt.Applications('{id}')/ToAttributes:
    get:
      tags: [Custom Attributes]
      summary: Get all custom attributes of a specific Application
      description: This operation retrieves all the custom attributes of a specific application based on the application id.
      produces: [application/json]
      parameters:
      - {name: id, description: Application id, in: path, required: true, type: string, format: ''}
      responses:
        '200':
          description: Retrieved entities
          schema:
            type: object
            title: Wrapper
            properties:
              d:
                type: object
                title: Collection of Custom Attributes
                properties:
                  results:
                    type: array
                    items: {$ref: '#/definitions/developer.AttributeType'}
        default: {$ref: '#/responses/error'}
    post:
      summary: Add new custom attribute to a specific application
      description: This operation will add a new custom attribute to a specified application based on application id.
      tags: [Custom Attributes]
      parameters:
      - {name: id, description: Application id, in: path, required: true, type: string, format: ''}
      - name: AttributeType
        description: New custom attribute entity
        in: body
        required: true
        schema: {$ref: '#/definitions/developer.AttributeType'}
      responses:
        '201':
          description: Created custom attribute entity
          schema:
            title: Created AttributeType
            type: object
            properties:
              d: {$ref: '#/definitions/developer.AttributeType'}
        '400':
          description: Bad Request
          schema: {$ref: '#/definitions/odata.error'}
        '415':
          description: Unsupported Media Type
          schema: {$ref: '#/definitions/odata.error'}
        '500':
          description: Internal Server Error
          schema: {$ref: '#/definitions/odata.error'}
        default: {$ref: '#/responses/error'}
  /APIMgmt.Attributes(name='{attribute_name}',entityId='{application_id},entityType='{entity_type}'):
    get:
      summary: Get a specific custom attribute of a given application
      description: This operation retrieves a specific custom attribute attached to an application based on the custom attribute name and application id.
      tags: [Custom Attributes]
      parameters:
      - {name: attribute_name, in: path, required: true, description: custom attribute name, type: string}
      - {name: application_id, in: path, required: true, description: id of an application to which the custom attribute is attached, type: string}
      - {name: entity_type, in: path, required: true, description: Type of an entity having a custom attribute. Value for this field is always 'applications', type: string, default: applications}
      responses:
        '200':
          description: Retrieved custom attribute entity
          schema:
            title: AttributeType
            type: object
            properties:
              d: {$ref: '#/definitions/developer.AttributeType'}
        default: {$ref: '#/responses/error'}
    delete:
      summary: Delete a custom attribute of a given application
      description: This operation deletes a specific custom attribute attached to an application based on the custom attribute name and application id.
      tags: [Custom Attributes]
      parameters:
      - {name: attribute_name, in: path, required: true, description: custom attribute name, type: string}
      - {name: application_id, in: path, required: true, description: id of an application to which the custom attribute is attached, type: string}
      - {name: entity_type, in: path, required: true, description: Type of an entity having a custom attribute. Value for this field is always 'applications', type: string, default: applications}
      responses:
        '204': {description: Success}
        default: {$ref: '#/responses/error'}
    put:
      summary: Update the value of a specific custom attribute of a given application
      description: This operation updates a specific custom attribute attached to an application based on the custom attribute name and application id.
      tags: [Custom Attributes]
      parameters:
      - {name: attribute_name, in: path, required: true, description: custom attribute name, type: string}
      - {name: application_id, in: path, required: true, description: id of an application to which the custom attribute is attached, type: string}
      - {name: entity_type, in: path, required: true, description: Type of an entity having a custom attribute. Value for this field is always 'applications', type: string, default: applications}
      - name: AttributeType
        description: Enter the updated value for custom attribute
        in: body
        required: true
        schema: {$ref: '#/definitions/customAttributePut'}
      responses:
        '204': {description: Success}
        '400':
          description: Bad Request
          schema: {$ref: '#/definitions/odata.error'}
        '415':
          description: Unsupported Media Type
          schema: {$ref: '#/definitions/odata.error'}
        '500':
          description: Internal Server Error
          schema: {$ref: '#/definitions/odata.error'}
        default: {$ref: '#/responses/error'}
responses:
  error:
    description: Error
    schema: {$ref: '#/definitions/odata.error'}
